@{
    ViewBag.Title = "WC";
}

<div class="row" style="margin-top:0px; padding-top:0px;">
    <div class="col-md-12">
        <div class="list-group panel " style="margin-bottom:0px; padding-bottom:0px; padding-top:0px; margin-top:0px;" id="cate">
            <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"
               height="8" style="padding:0px; margin:0px; padding-left:10px; border-radius:3px; background-color:#999; color:#000">
                <img src="003362-glossy-black-icon-media-media2-arrow-down.png" height="12" width="12" style="margin-right:3px" />Category
            </a>
            <div class="panel-collapse collapse in" id="demo3" style="border:1px solid #CCC;">
                <a href="~/WomensClothing/Index" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:15px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8" width="8" style="margin-right:3px" />Clothing
                </a>
                <a href="~/WomensClothing/ShalwarKameez?so=Shalwar Kameez" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px;" />Shalwar Kameez
                </a>
                <a href="~/WomensClothing/ShalwarKameez?so=Unstiched Faric" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" />Unstiched Fabric
                </a>
                <a href="~/WomensClothing/ShalwarKameez?so=Scarfs" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" />Scarfs
                </a>
                <a href="~/WomensClothing/ShalwarKameez?so=Abayas" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" />Abayas
                </a>
                <a href="~/WomensClothing/ShalwarKameez?so=Shalwar Kameez" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" />Polo Shirts
                </a>
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" />Kurtas & Shalwars
                </a>
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:25px;border:0px">
                    <img src="~/Images/arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" />Special Occassion
                </a>
            </div>

        </div>
    </div>
</div>
<div class="row" style="margin-top:0px; padding-top:0px;">
    <div class="col-md-12" style="margin-top:0px;padding-top:0px;">
        <div class="list-group panel g" style="margin-top:0px;padding-top:0px;" id="size">
            <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"
               height="8" style="padding:0px; margin:0px; padding-left:10px; border-radius:3px; background-color:#999; color:#000">
                <img src="003362-glossy-black-icon-media-media2-arrow-down.png" height="12px" width="12px" style="margin-right:3px" />Price
            </a>
            <div class="panel-collapse collapse in" id="demo4" style="border:1px solid #CCC;margin-bottom:0px; padding-bottom:0px;">
                <div class="checkbox" style="margin-bottom:0px; margin-top:0px;margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="14">14
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:0px;margin-left:8px;" onclick="javascript:window.location.href='random.html';">
                    <label>
                        <input type="checkbox" name="size" value="15"> 14.5
                    </label>
                </div>

                <div class="checkbox" style="margin-bottom:0px;margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="16"> 15
                    </label>
                </div>

                <div class="checkbox" style="margin-bottom:0px;margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="16"> 15.5
                    </label>
                </div>
                <div class="checkbox" style="margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="16"> 16
                    </label>
                </div>
                <hr style="margin-bottom:0px; margin-top:0px;" />
                <div class="checkbox" style="margin-bottom:0px;margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="16"> S
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:0px;margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="16"> M
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:0px;margin-left:8px;">
                    <label>
                        <input type="checkbox" name="size" value="16"> L
                    </label>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="row" style="margin-top:0px; padding-top:0px;">
    <div class="col-md-12" style="margin-top:0px;padding-top:0px;">
        <div class="list-group panel " style="margin-top:0px; padding-top:0px;" id="cate">
            <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"
               height="8" style="padding:0px; margin:0px; padding-left:10px; border-radius:3px; background-color:#999; color:#000">
                <img src="003362-glossy-black-icon-media-media2-arrow-down.png" height="12px" width="12px" style="margin-right:3px" />Category
            </a>
            <div class="panel-collapse collapse in" id="demo3" style="border:1px solid #CCC;">
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:15px;border:0px">
                    <img src="arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" /><span style="font-size:smaller">  		 										Below Rs. 1000</span>
                </a>
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:15px;border:0px">
                    <img src="arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px;" /><span style="font-size:smaller">		 										Rs. 1000 - Rs. 2500</span>
                </a>
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:15px;border:0px">
                    <img src="arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" /><span style="font-size:smaller">Rs. 										2501 - Rs. 3500</span>
                </a>
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:15px;border:0px">
                    <img src="arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" /><span style="font-size:smaller">Rs. 										3501 - Rs. 5000
                </a></span>
                <a href="" class="list-group-item" height="8" style="padding:0px; margin:0px; padding-left:15px;border:0px">
                    <img src="arrow_sans_right-512.png" height="8px" width="8px" style="margin-right:3px" /><span style="font-size:smaller">						 										Above Rs.500</span>
                </a>

            </div>

        </div>
    </div>

</div>
<div class="row" style="margin-top:0px; padding-top:0px;">
    <div class="col-md-12" style="margin-top:0px;padding-top:0px;">
        <div class="list-group panel g" style="margin-top:0px;padding-top:0px;" id="size">
            <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"
               height="8" style="padding:0px; margin:0px; padding-left:10px; border-radius:3px; background-color:#999; color:#000">
                <img src="003362-glossy-black-icon-media-media2-arrow-down.png" height="12px" width="12px" style="margin-right:3px" />Price
            </a>
            <div class="panel-collapse collapse in" id="demo4" style="border:1px solid #CCC;margin-bottom:0px; padding-bottom:0px;">
                <div class="checkbox" style="margin-bottom:0px; margin-top:0px;margin-left:8px;">
                    <span style="background-color:#666;">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="14">Black
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:1px;margin-left:8px;" onclick="javascript:window.location.href='random.html';">
                    <span style="background-color:#00F">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="15"> 14.5
                    </label>
                </div>

                <div class="checkbox" style="margin-bottom:1px;margin-left:8px;">
                    <span style="background-color:#F00">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="16"> 15
                    </label>
                </div>

                <div class="checkbox" style="margin-bottom:5px;margin-left:8px;">
                    <span style="background-color:#F0F">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="16"> 15.5
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:1px;margin-left:8px;">
                    <span style="background-color:#F60">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="16"> 16
                    </label>
                </div>

                <div class="checkbox" style="margin-bottom:1px;margin-left:8px;">
                    <span style="background-color:#0F0">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="16"> S
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:5px;margin-left:8px;">
                    <span style="background-color:#FFF">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="16"> M
                    </label>
                </div>
                <div class="checkbox" style="margin-bottom:1px;margin-left:8px;">
                    <span style="background-color:#600">&nbsp;&nbsp;&nbsp;&nbsp;</span><label>
                        <input type="checkbox" name="size" value="16"> L
                    </label>
                </div>

            </div>

        </div>
    </div>

</div>
